{{ define "subject" }}New Activation Token{{end}}

{{define "plainBody"}}
User: {{.userName}} requested a new activation token.

Please send a request o the `PUT /v1/users/activated` endpoint with the following JSON payload to activate your account:

{"token": "{{.activationToken}}""}

Please note that this is a one-time use token and will expire in 3 days.

Thanks,

The Greenlight Team
{{end}}

{{define "htmlBody"}}
<!doctype html>
<html>

<head>
    <meta name="viewport" content="width-device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <p>User: {{.userName}} requested a new activation token.</p>
    <p>Please send a request o the <code>PUT /v1/users/activated</code> endpoint with the following JSON payload to activate your account:</p>
    <p>{"token": "{{.activationToken}}"}</p>
    <p>Please note that this is a one-time use token and will expire in 3 days.</p>
    <p>Thanks,</p>
    <p>The Greenlight Team</p>
</body>

</html>
{{end}}